# Default values for todo-chatbot
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

backend:
  replicaCount: 1
  image:
    repository: phase_4-backend
    tag: latest
    pullPolicy: Never
  service:
    type: NodePort
    port: 8000
  env:
    JWT_SECRET: "mysecretkey"
    DEV_MODE: "true"

frontend:
  replicaCount: 1
  image:
    repository: phase_4-frontend
    tag: latest
    pullPolicy: Never
  service:
    type: NodePort
    port: 3000
  env:
    NEXT_PUBLIC_API_URL: ""

database:
  replicaCount: 1
  image:
    repository: postgres
    tag: "15"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5432
  env:
    POSTGRES_DB: "todo_db"
    POSTGRES_USER: "postgres"
    POSTGRES_PASSWORD: "password"